@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  margin-top: 37px;
  margin-bottom: 62px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111px;
  width: 580px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px #e5e5e5 solid;
}

section > img {
  width: 64px;
  height: 90px;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 20px;
}

section > p
section .logo {
flex: 1;
}

.logo {
  width: 80px;
}

h1 {
  font-weight: bold;
}

.time {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.details {
  flex: 6 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}

.details > h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 16px;
}

.details > p {
  font-size: 12px;
  margin-bottom: 5px;
}

.duration {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
  display: flex;
}

.duration > p {
  width: 60px;
}

li {
  color: red;
}